* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #131313;
  height: 100%;
  display: flex;
  justify-content: center;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Jetbrains Mono;
}
header {
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 2.6rem;
  font-weight: 700;
}

h1,
h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: medium;
}

nav ul {
  display: flex;
  list-style: none;
  li {
    margin-right: 1rem;
    font-size: small;
    a {
      color: white;
    }
  }
}

@media (min-width: 320px) {
  body {
    margin: 2rem;
    width: 100%;
  }
}

@media (min-width: 1025px) {
  body {
    width: 40%;
  }
}
